/****** grid list style settings *********** */
#grid_list {
  display: flex;
  /* flex-direction: row;
  align-items: flex-start;
  justify-items: flex-start; */
  /* justify-content: flex-start; */
  vertical-align: top;
}
#image {
  /* align-content: stretch; */
  align-self: flex-start;
  vertical-align: top;
  /* align-items: flex-start; */
}

#input_pw {
  border-color: red;
  border-bottom-color: red;
}

#ff_pw {
  color: red;
}
input {
  width: 100%;
}
/* removing the undelined text in the mat input */
::ng-deep .mat-form-field-underline {
  display: none;
}
/* creating rounded margin card */
.form_card {
  background-color: rgba(251, 250, 251, 0.842);
  border-radius: 35px;

  padding-right: 10%;
  margin-bottom: 2%;
}

#personal-info {
  background-color: transparent;
  flex-direction: column;
  overflow: auto;
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-start;
}
#personal-info-xs {
  max-width: 300px;
  background-color: transparent;
}
#card_personal-info {
  background-color: transparent;

  /* display: flex;*/
  flex-direction: column;
  /* overflow-y: auto; */
  /* overflow-y: auto; */
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin: 5%; */
  background-color: rgba(3, 127, 243, 0.493);
}
.form_input {
  flex: 1;
}

#form {
  display: flex;
  vertical-align: top;
  /* align-items: flex-start;
  align-content: flex-start; */
}

#submit_button {
  width: 10%;
}
