/****** grid list style settings *********** */
#grid_list{
    display: flex;
    flex-direction: row;
}
#image{
    align-content: stretch;
    align-self: flex-start;
    align-items: flex-start;
}